DJANGO_ENVIRONMENT=development
DEBUG=1
DJANGO_SECRET_KEY=your_secret_key
DATABASE_ENGINE=sqlite3/postgresql
DATABASE_NAME=lms_db
DATABASE_USER=lms_db_user
DATABASE_PASSWORD=user1234
DATABASE_PORT=5432



FIREBASE_ADMIN_SDK_CREDENTIALS_PATH=service_account_key.json

FIREBASE_SERVICE_ACCOUNT_SECRET_KEY=json_encoded_in_base64
