@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 20% 99.01960784313727%;
    --foreground: 210 12.5% 12.549019607843137%;
    --card: 240 19.999999999999943% 98.0392156862745%;
    --card-foreground: 210 12.5% 12.549019607843137%;
    --popover: 240 20% 99.01960784313727%;
    --popover-foreground: 210 12.5% 12.549019607843137%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 19.999999999999943% 98.0392156862745%;
    --secondary-foreground: 220 5.88235294117647% 40%;
    --muted: 240 19.999999999999943% 98.0392156862745%;
    --muted-foreground: 220 5.88235294117647% 40%;
    --accent: 226.2111801242236 65.18218623481782% 51.5686274509804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
    --border: 240 10.144927536231888% 86.47058823529412%;
    --input: 240 10.144927536231888% 86.47058823529412%;
    --ring: 240 10.144927536231888% 86.47058823529412%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --base-1: 240 20% 99.01960784313727%;
    --base-2: 240 19.999999999999943% 98.0392156862745%;
    --base-3: 240 11.111111111111065% 94.70588235294117%;
    --base-4: 240 9.52380952380956% 91.76470588235294%;
    --base-5: 230.00000000000003 10.714285714285722% 89.01960784313725%;
    --base-6: 240 10.144927536231888% 86.47058823529412%;
    --base-7: 233.33333333333337 9.89010989010989% 82.15686274509804%;
    --base-8: 230.7692307692308 10.23622047244095% 75.09803921568627%;
    --base-9: 230.76923076923066 5.936073059360735% 57.05882352941176%;
    --base-10: 226.1538461538462 5.394190871369299% 52.74509803921569%;
    --base-11: 220 5.88235294117647% 40%;
    --base-12: 210 12.5% 12.549019607843137%;
    --accent-1: 240 33.33333333333333% 99.41176470588235%;
    --accent-2: 225.00000000000006 100% 98.43137254901961%;
    --accent-3: 222.35294117647067 89.47368421052634% 96.27450980392157%;
    --accent-4: 224 100% 94.11764705882352%;
    --accent-5: 223.99999999999997 100% 91.17647058823529%;
    --accent-6: 225.48387096774192 100% 87.84313725490196%;
    --accent-7: 226.15384615384616 86.66666666666669% 82.35294117647058%;
    --accent-8: 225.9183673469388 75.38461538461539% 74.50980392156863%;
    --accent-9: 226.0377358490566 70.04405286343612% 55.490196078431374%;
    --accent-10: 226.2111801242236 65.18218623481782% 51.5686274509804%;
    --accent-11: 225.9574468085106 55.73122529644269% 50.3921568627451%;
    --accent-12: 226.2295081967213 49.59349593495935% 24.11764705882353%}
  .dark {
    --background: 240 5.555555555555555% 7.0588235294117645%;
    --foreground: 220 9.09090909090906% 93.52941176470588%;
    --card: 220 5.88235294117647% 10%;
    --card-foreground: 220 9.09090909090906% 93.52941176470588%;
    --popover: 240 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 220 9.09090909090906% 93.52941176470588%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 5.88235294117647% 10%;
    --secondary-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --muted: 220 5.88235294117647% 10%;
    --muted-foreground: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --accent: 227.5 72.72727272727272% 61.1764705882353%;
    --accent-foreground: 0 0% 100%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --input: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --ring: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  ;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --base-1: 240 5.555555555555555% 7.0588235294117645%;
    --base-2: 220 5.88235294117647% 10%;
    --base-3: 225.00000000000006 5.7142857142857135% 13.725490196078432%;
    --base-4: 210.00000000000003 7.1428571428571415% 16.47058823529412%;
    --base-5: 214.28571428571428 7.0707070707070745% 19.411764705882355%;
    --base-6: 213.33333333333334 7.692307692307694% 22.941176470588236%;
    --base-7: 212.72727272727275 7.586206896551727% 28.431372549019606%;
    --base-8: 212.00000000000003 7.692307692307687% 38.23529411764706%;
    --base-9: 218.57142857142856 6.250000000000003% 43.92156862745098%;
    --base-10: 221.53846153846155 5.1792828685259% 49.21568627450981%;
    --base-11: 215.9999999999999 6.756756756756753% 70.98039215686273%;
    --base-12: 220 9.09090909090906% 93.52941176470588%;
    --accent-1: 231.42857142857144 29.166666666666668% 9.411764705882353%;
    --accent-2: 230 31.03448275862069% 11.372549019607844%;
    --accent-3: 225.3061224489796 50.51546391752577% 19.019607843137255%;
    --accent-4: 225.21739130434784 54.330708661417326% 24.901960784313726%;
    --accent-5: 224.81012658227849 51.633986928104584% 30%;
    --accent-6: 226.42857142857142 46.66666666666667% 35.294117647058826%;
    --accent-7: 226.45161290322582 44.4976076555024% 40.98039215686274%;
    --accent-8: 225.8181818181818 45.08196721311475% 47.843137254901954%;
    --accent-9: 226.0377358490566 70.04405286343612% 55.490196078431374%;
    --accent-10: 227.5 72.72727272727272% 61.1764705882353%;
    --accent-11: 228.2474226804124 100% 80.98039215686275%;
    --accent-12: 223.90243902439025 100% 91.9607843137255%;
    --radius: 0.5rem}
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-interaction {
  pointer-events: none;
  cursor: none;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.video-container:hover {
  cursor: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbars but keep scrolling functional */
.custom-scroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
}
.custom-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

